body {
    font-family: 'Roboto', sans-serif;
}

.main-block {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 150px;
    background-color: rgb(127, 8, 160);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.main-block-message {
    font-size: 23px;
    color: rgb(9, 0, 0);
}